* {
  text-align: justify;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.bckmov {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(/Banner2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.honemov1 {
  margin-top: 5%;
  text-align: center;
  font-size: 50px;
  color: rgb(246, 105, 54);
}

.yrnm {
  margin-top: 10%;
  font-size: 40px;
  color: rgb(246, 105, 54);
}

.htwomov2 {
  margin-top: 1%;
  color: white;
}

.drctone {
  margin-top: 2%;
  color: rgb(246, 105, 54);
}

.ratone {
  color: rgb(246, 105, 54);
  margin-top: 5px;
}

.stdone {
  color: rgb(246, 105, 54);
  margin-top: 5px;
}
.silvc {
  color: rgb(246, 105, 54);
  margin-top: 6%;
  font-size: 40px;
}

.silvchtwo {
  color: white;
  margin-top: 1%;
}

.drcttwo {
  margin-top: 2%;
  color: rgb(246, 105, 54);
}

.rattwo {
  color: rgb(246, 105, 54);
  margin-top: 5px;
}

.stdtwo {
  color: rgb(246, 105, 54);
  margin-top: 5px;
  margin-bottom: 5px;
}

.gowhone {
  color: rgb(246, 105, 54);
  margin-top: 6%;
  font-size: 40px;
}

.gowhtwo {
  color: white;
  margin-top: 1%;
}

.drct3 {
  margin-top: 2%;
  color: rgb(246, 105, 54);
}

.rat3 {
  color: rgb(246, 105, 54);
  margin-top: 5px;
}

.std3 {
  color: rgb(246, 105, 54);
  margin-top: 5px;
  margin-bottom: 5px;
}

.wtu {
  color: rgb(246, 105, 54);
  margin-top: 6%;
  font-size: 40px;
}

.wtuhtwo {
  color: white;
  margin-top: 1%;
}

.dirc {
  margin-top: 2%;
  color: rgb(246, 105, 54);
}

.rati {
  color: rgb(246, 105, 54);
  margin-top: 5px;
}

.stud {
  color: rgb(246, 105, 54);
  margin-top: 5px;
  margin-bottom: 5px;
}
